/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/


.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-variation-settings: "wght" var(--card__text-weight);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: var(--gradient-variable);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 100px;
}

.header{
  background-color: var(--color-white);
  border: solid var(--border-width) var(--color-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: clamp(7.625rem, 6.487rem + 2.73vh, 8.125rem) clamp(1rem, -1.355rem + 10.047vw, 7.688rem);
  font-family: var(--acent-font);
  text-transform: uppercase;
  margin-top: 100px;
}

.block{
  inline-size: var(--block__inline-size);
}

.header__title {
  font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
}

.card {
  border: solid var(--color-black) var(--border-width);
  background-color: var(--color-white);
  font-size: 18px;
}

.card__title {
  font-weight: var(--card__title-weight);
  padding: 12px 4px;
}

.card__image-container {
  position: relative;
}

.card__img {
  inline-size: calc(var(--block__inline-size) - var(--border-width) * 2);
}

.img-butterfly {
  filter: saturate(120%);
}

.img-leafes{
  filter: hue-rotate(240deg);
}

.img-cat-sitting{
  filter:grayscale(0.8) blur(0.5px);
}

.img-park {
  filter: sepia(10%);
}

.img-angry{
  filter: hue-rotate(20deg);
}

.img-winter{
  filter: saturate(170%);
}

.img-coffe {
  filter: saturate(170%);
}

.img-city{
  filter: invert(0.1) blur(0.5px);
}

.card__image-label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--acent-font);
  font-size: 14px;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow:
  -1px 0 var(--color-white), 
  0 1px var(--color-white), 
  1px 0 var(--color-white), 
  0 -1px var(--color-white);
}

.card__text {
  padding: 25px;
}

.card .card__text:first-of-type {
  padding-bottom: 0;
}

.card__button-container {
  margin-bottom: 25px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.card__icon-button {
  border: none;
  background: transparent;
  margin: 12px;

}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: none;
  border: var(--color-black) solid 2px;
  transition: border 0.3s ease;
}

.sparks {
  opacity: 0;
}

.contour {
  transition: fill 0.1s linear;
}

.core {
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  transition: fill 0.3s linear;
}

.card__icon-button:hover .core {
  fill: var(--color-black);
  transition: fill 0.3s linear;
}

.card__icon-button:hover .main-body {
  fill: var(--color-black);
  transition: fill 0.3s linear 0.05s;
}

.card__icon-button:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.card__icon-button:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.card__icon-button:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.card__icon-button:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon {
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: zoomIn 0.3s ease-in forwards;
  animation-delay: 0.1s;
}

.like-icon.is-liked .sparks {
  transform-origin: center;
  animation: sparksFlash 0.3s ease-in forwards;
  animation-delay: 0.4s;
}

.card__like-button {
  border: solid var(--color-black) var(--border-width);
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  background: transparent;
  margin-right: 25px;
  inline-size: 130px;
  transition: box-shadow 0.3s ease;
}

.card__like-button:focus {
  outline: none;
  box-shadow: 2px 2px 0px var(--color-black);
}



.button__text {
  font-family: var(--acent-font);
  font-size: 14px;
  position: relative;
  transition: color 0.5s ease-in-out;
  z-index: 1;
  
}

.hover{
  position: relative;
  overflow: hidden;  
}

.hover::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--color-white);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  pointer-events: none;
  mix-blend-mode: difference;
}

.hover:hover::after {
  transform: scaleX(1);
}

.hover:hover .button__text {
  color: var(--color-white);
}

.block-save {
  font-family: var(--acent-font);
  font-size: 14px;
  background-color: var(--color-white);
  border: solid var(--border-width) var(--color-black);
  padding: 17px 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-bottom: 100px;
  inline-size: 310px;
}

.block-save h2 {
  font-weight: 400;
  font-size: 14px;
}

.floppy_icon{
  inline-size: 28px;
  block-size: 28px;
}

.dialog-save{
  font-family: var(--acent-font);
  background-color: var(--color-white);
  border: solid var(--border-width) var(--color-black);
  padding: 30px 40px;
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 20px;
  row-gap: 30px;
  align-items: center;
  justify-content: center;
  inline-size: 341px;
}

.dialog-save:not([open]){
  opacity: 0;
  pointer-events: none;
}

.dialog-save::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.dialog-save .floppy_icon {
  grid-row: 1;
  grid-column: 1;
  inline-size: 39px;
  block-size: 39px;
}

.dialog-save h2 {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 150%;
  grid-row: 1;
  grid-column: 2;
}

.dialog__button {
  grid-column: 1/-1;
  border: solid var(--color-black) var(--border-width);
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  background: transparent;
  transition: box-shadow 0.3s ease;
}

.dialog__button:focus {
  outline: none;
  box-shadow: 2px 2px 0px var(--color-black);
}

.dialog-save .button__text {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
}

@supports((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .card__image-label {
    -webkit-text-stroke: 1px var(--color-white);
    text-stroke: 1px var(--color-white);
    text-shadow: none;
  }
}

@media (width >= 375px) {
  .block-save {
    flex-direction: row;
    inline-size: 350px;
    padding: 20px;
  }
  .dialog-save {
    inline-size: 355px;
  }
}
