/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-variation-settings: "wght" var(--text-weight);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: var(--gradient-variable);
  background-color: var(--contrast-design-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.header {
  block-size: 327px;
  background-color: var(--contrast-design-color);
  border: solid var(--border-width) var(--main-design-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: clamp(7.625rem, 6.487rem + 2.73vh, 8.125rem)
    clamp(1rem, -1.355rem + 10.047vw, 7.688rem);
  font-family: var(--acent-font), Arial, sans-serif;
  text-transform: uppercase;
  margin-top: 100px;
  margin-bottom: 100px;
}

.block {
  inline-size: var(--component-inline-size);
}

.header__title {
  font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
  margin-bottom: 20px;
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.card {
  border: solid var(--main-design-color) var(--border-width);
  background-color: var(--contrast-design-color);
  font-size: 18px;
}

.card__title {
  font-variation-settings: "wght" var(--title-weight);
  padding: 6px 10px;
  font-size: 18px;
}

.card__image-container {
  position: relative;
  overflow-x: hidden;
}

.card__img {
  inline-size: calc(var(--component-inline-size));
  block-size: calc(var(--component-inline-size));
  border-top: var(--main-design-color) solid 2px;
  border-bottom: var(--main-design-color) solid 2px;
  object-fit: cover;
}

.filter-small-saturate {
  filter: saturate(120%);
}

.filter-big-color-rotation {
  filter: hue-rotate(240deg);
}

.filter-grey {
  filter: grayscale(0.8) blur(0.5px);
}

.filter-sepia {
  filter: sepia(10%);
}

.filter-small-color-rotation {
  filter: hue-rotate(20deg);
}

.filter-big-saturate {
  filter: saturate(170%);
}

.filter-saturated-color-rotation {
  filter: saturate(170%) hue-rotate(50deg);
}

.filter-invert {
  filter: invert(0.1) blur(0.5px);
}

.card__image-label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--acent-font), Arial, sans-serif;
  font-size: 14px;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow: -1px 0 var(--contrast-design-color),
    0 1px var(--contrast-design-color), 1px 0 var(--contrast-design-color),
    0 -1px var(--contrast-design-color);
  z-index: 1;
  text-transform: uppercase;
}

.card__text {
  padding: 25px 25px 0;
}

.card .card__text:last-of-type {
  padding-bottom: 25px;
}

.card__button-container {
  margin-bottom: 25px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.card__icon-button {
  border: none;
  background: transparent;
  margin-right: 6px;
  padding: 0;
  cursor: pointer;
  outline: 2px solid transparent;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: var(--main-design-color) solid 2px;
  transition: border 0.3s ease;
}

.sparks {
  opacity: 0;
}

.contour {
  transition: fill 0.1s linear;
}

.core {
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  transition: fill 0.3s linear;
}

.card__icon-button:hover .core {
  fill: var(--main-design-color);
  transition: fill 0.3s linear;
}

.card__icon-button:hover .main-body {
  fill: var(--main-design-color);
  transition: fill 0.3s linear 0.05s;
}

.card__icon-button:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.card__icon-button:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: zoomIn 0.3s ease-in forwards;
  animation-delay: 0.1s;
}

.like-icon.is-liked .sparks {
  transform-origin: center;
  animation: sparksFlash 0.3s ease-in forwards;
  animation-delay: 0.4s;
}

.button {
  border: solid var(--main-design-color) var(--border-width);
  background: transparent;
  cursor: pointer;
  font-family: var(--acent-font), Arial, sans-serif;
  font-size: 14px;
}

.button:focus {
  outline: none;
}

.card__like-button {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 25px;
  inline-size: 130px;
  transition: box-shadow 0.3s ease;
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0px var(--main-design-color);
}

.button__text {
  position: relative;
  transition: color 0.5s ease-in-out;
}

.component-hover-animation {
  position: relative;
  overflow: hidden;
}

.component-hover-animation::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--contrast-design-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  pointer-events: none;
  mix-blend-mode: difference;
}

.component-hover-animation:hover::after {
  transform: scaleX(1);
}

.block-save {
  font-family: var(--acent-font), Arial, sans-serif;
  font-size: 14px;
  background-color: var(--contrast-design-color);
  border: solid var(--border-width) var(--main-design-color);
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  inline-size: 310px;
  cursor: pointer;
  margin-bottom: 100px;
}

.block-save__text {
  font-weight: 400;
  font-size: 14px;
}

.floppy_icon {
  inline-size: 28px;
  block-size: 28px;
}

.dialog-save {
  font-family: var(--acent-font), Arial, sans-serif;
  background-color: var(--contrast-design-color);
  border: solid var(--border-width) var(--main-design-color);
  padding: 30px 40px;
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 20px;
  row-gap: 30px;
  align-items: center;
  justify-content: center;
  inline-size: 341px;
}

.dialog-save:not([open]) {
  opacity: 0;
  pointer-events: none;
}

.dialog-save::backdrop {
  background: rgba(0, 0, 0, 0.75);
}

.dialog-save .floppy_icon {
  grid-row: 1;
  grid-column: 1;
  inline-size: 39px;
  block-size: 39px;
}

.dialog-save__title {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 150%;
  grid-row: 1;
  grid-column: 2;
}

.dialog__button {
  grid-column: 1/-1;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: box-shadow 0.3s ease;
  text-transform: uppercase;
}

.dialog-save .button__text {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .card__image-label {
    -webkit-text-stroke: 1px var(--contrast-design-color);
    text-stroke: 1px var(--contrast-design-color);
    text-shadow: none;
  }
}

@media (width > 376px) {
  .header {
    block-size: auto;
  }
  .block-save {
    flex-direction: row;
    inline-size: 335px;
  }
  .dialog-save {
    inline-size: 355px;
    padding: 30px;
  }
}
